*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-size: 10px;
 }

body{
    background-color: #EFEFEF;
    font-size: 2.2rem;
    line-height: 1.5;  
}
h3{
    font-size: 4.2rem;
}
.f35{
    font-size:3.5rem;
    line-height: 1.5;
}

.f22{
    font-size:2.2rem;
    line-height: 1.5;
}
.f12{
    font-size:1.6rem;
    line-height: 1.5;
}
.row{
    margin-top: 15rem;
    margin-bottom: 23rem;
    padding: 2rem;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.15);
    
}

/*nav*/
nav{
    opacity: 0.8;
    font-family: 'Cabin Sketch', cursive; 
}

.navbar-brand{
    font-size: 4.2rem;
    font-style: italic;
}

/*card*/
.card{
    box-shadow: 5px 5px 3px rgba(83, 185,106,0.5);
    border: 1px solid rgba(83, 185,106,0.5);
    opacity: 1;
    transition: all 0.3s;
}

.card:hover{
    box-shadow: 8px 8px 5px rgba(83, 185,106,0.5);
    cursor: pointer;
    opacity: 0.9;
}

/*footer*/
footer{
    opacity: 0.8;
    font-family: 'Cabin Sketch', cursive; 
}


